<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        
            <h1>Submitted Info</h1>
                Name:  @ViewBag.Name 
                <br>
                Dojo Location: @ViewBag.Location
                <br>
                Favourite Language:  @ViewBag.Language
                <br>
                Comment: @ViewBag.Comment
                <br>
        
        <a href="/">Go Back</a>
    </body>
</html>